body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

body {
  background-image: url("http://jonvilma.com/images/space-9.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
}